{% extends 'base.html' %}

{% block content %}
{% include 'components/navbar.html' %}
<div class="container">

    <div class="row">
        <h4>{{question.content}}</h4>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                <div class="collection">
                    {% for choice in question.choice_set.all %}
                        <div class="collection-item">
                        {% if answer %}
                             <span>{{choice.content}}({{choice.answer_count}})</span> 
                            {% if answer.choices.id == choice.id %}
                             <i class="tiny material-icons">check_circle</i> 
                            {% endif %}
                            
                            {% else %}
                            <label>
                              <input class="with-gap" name="choice" type="radio" value="{{choice.id}}"  />
                              <span>{{choice.content}}</span>
                            </label>
                        {% endif %}
                    </div>
                    {% endfor %}        
                </div>
                <div class="row">
                    {% if not answer %}
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit 
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
    
</div>
    
{% endblock %}
